<%= form_for :photo, url: photos_path, html: {multipart: true} do |f| %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  </div>

  <div class="">
    <%= f.submit %>
  </div>

<% end %>
